<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/about.css">
    <title>Beat Stack - About</title>
</head>
<body>
    <div class="container">

        <header>
            <h3 class="name"><a href="#">VISHRUT M</a></h3>
            <div class="nav">
                <div class="menu">MENU</div>
                <div class="bars">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </header>

        <aside class="aside">
            <div class="yt"><a href="#">YT</a></div>
            <div class="fb"><a href="#">FB</a></div>
            <div class="ig"><a href="#">IG</a></div>
        </aside>

        <div class="screen">
            <div class="image">
                <img src="img/me2.jpg" alt="">
            </div>
            <div class="about">
                <h1>Hey There ! My Name is Vishrut Margam & I love making music, it is what i have been destined for.</h1> <br>
                <p>
                    For me, the greatest thing about being a musician is being in the position to inspire other people.<br> I take such pleasure in hearing that people have been motivated to create after hearing my music, whether it be a painting, a poem, their own music or something completely different. 
                  </p>
                  <p class="sign" id="sign">Vishrut M</p>
            </div>
        </div>

        <div class="hidden-nav">
            <header class="header-2">
                <h3 class="name-2"><a href="#">VISHRUT M</a></h3>
                <div class="nav">
                    <div class="menu close">CLOSE</div>
                </div>
            </header>
    
            <ul class="list">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/artists">Artists</a></li>
                <li><a href="/artists/new">Add Artists</a></li>
                <li><a href="/songs">Songs</a></li>
                <li><a href="/songs/new">Add Songs</a></li>
            </ul>
        </div>

    </div>

    <script src="js/about.js"></script>

</body>
</html>