<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/homepage.css">
    <title>Beat Stack</title>
</head>
<body>
    <div class="container">
    <header>
        <h3 class="name"><a href="#">VISHRUT M</a></h3>
        <div class="nav">
            <div class="menu">MENU</div>
            <div class="bars">
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>
    </header>
    <div class="title">
        <p>BEAT STACK</p>
    </div>
    <aside>
        <div class="yt"><a href="#">YT</a></div>
        <div class="fb"><a href="#">FB</a></div>
        <div class="ig"><a href="#">IG</a></div>
    </aside>
    <div class="start">
        <% if(user) { %>
        <a href="/songs">GET STARTED</a>
        <% } else { %>
            <a href="/login">LOGIN FIRST</a>
        <% } %>
    </div>
    </div>

    <div class="hidden-nav">
        <header class="header-2">
            <h3 class="name-2"><a href="#">VISHRUT M</a></h3>
            <div class="nav">
                <div class="menu close">CLOSE</div>
            </div>
        </header>

        <ul class="list">
            <% if(user) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/artists/new">Add Artists</a></li>
            <li><a href="/songs">Songs</a></li>
            <li><a href="/songs/new">Add Songs</a></li>
            <li><a href="/users/logout">Logout</a></li>
            <% } else { %>
            <li><a href="/users/login">Login</a></li>
            <li><a href="/users/register">Register</a></li>
            <% } %>
        </ul>
    </div>
    <script src="./js/homepage.js"></script>
</body>
</html>