@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #aeaeae;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100%;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
    margin: 0 1rem;
}

.name, .name-2 {
    font-size: 1.5rem;
    font-weight: lighter;
    position: fixed;
    z-index: 20;
}

.name a, .name-2 a{
    text-decoration: none;
    color: #aeaeae;
}

.name a:hover, .name-2 a:hover {
    color: #ffffff;
    transition: .3s ease-in-out;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    color: white;
}

.title p {
    border-right: 5px solid #fff;
    border-left: 5px solid #fff;
    padding: 0 40px;
    margin-top: 2rem;
}

.nav, .nav-2 {
    display: flex;
    align-items: center;
    font-weight: bold;
    position: fixed;
    z-index: 20;
}

.nav {
    top: 4%;
    right: 5%;
}

.name-2, .nav-2 {
    position: initial;
}

.menu {
    margin-right: 10px;
}

.bar {
    margin: 6px 0;
    background-color: #aeaeae;
    width: 40px;
    height: 4px;
}

.nav:hover .bar {
    background-color: #ffffff;
    cursor: pointer;
}

.nav:hover .menu, .nav-2:hover .menu-2 {
    color: #ffffff;
    cursor: pointer;
}

aside {
    margin: 6rem 0 0 2rem;
    position: fixed;
    z-index: 20;
}

aside div {
    margin: 2rem 0;
}

aside div a {
    color: #aeaeae;
    text-decoration: none;
    font-size: 1.5rem;
}

aside div a:hover, .name a:hover {
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.hidden-nav {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-color: black;
    transition: 1s ease-in-out;
    transform: translateX(100%);
    z-index: 20;
    position: fixed;
}

.active {
    transform: translateX(0);
}

.header-2 {
    border-bottom: none;
}

.list {
    margin-top: 4rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list li {
    margin: 1rem 0;
}

.list li a {
    text-decoration: none;
    color: #aeaeae;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}

.list li a:hover {
    font-size: 22px;
    color: white;
}

.artists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.artist {
    overflow: hidden;
    position: relative;
    background-position: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: 2rem auto;
    border-radius: 15px;
}

.artist .layer {
    position: absolute;
    -webkit-background-size: cover;
    backdrop-filter: blur(100px);
    top: 1%;
    left: 0;
    width: 100%;
    height: 540px;
    border-radius: 15px;
}

.artist .image {
    overflow: hidden;
    border-radius: 15px;
    width: 400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.artist .image img {
    width: 100%;
    border-radius: 15px;
}

.artist .info {
    overflow-x: hidden;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    padding: .5rem 4rem;
}

.info h2 {
    z-index: 1;
    margin-bottom: 1rem;
}

.info p {
    z-index: 1;
    line-height: 1.6rem;
}

.title-2 {
    color: white;
    font-family: 'Orbitron', sans-serif;
}

.songs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-self: center;
    align-content: center;
    margin: 2rem auto;
}

.song {
    position: relative;
    width: 290px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: fixed;
    background-size: cover;
    overflow: hidden;
    border-radius: 20px;
}

.song .layer {
    -webkit-background-size: cover;
    backdrop-filter: blur(6px);
    width: 270px;
    height: 170px;
    position: absolute;
    bottom: 2%;
    border-radius: 20px;
}

.song .info {
    position: absolute;
    padding: 2rem;
    bottom: 0%;
    left: 0%;
    color: white;
    z-index: 1;
    background-attachment: fixed;
}

.song .info h3 {
    font-size: 26px;
    font-weight: lighter;
}

.song .info p {
    font-size: 14px;
    font-weight: lighter;
}

.song .info h3 {
    margin-bottom: .2rem;
}

.song .icon {
    margin-top: 3rem;
    cursor: pointer;
}

.song .icon .fa-pause {
    display: none;
}

@media (max-width: 1300px) {
    .songs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1100px) {
    .artists {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .songs {
        grid-template-columns: 1fr;
    }

    .artist {
        display: flex;
        flex-direction: column;
        width: 400px;
        height: 100%;
    }

    .artist .image {
        width: 370px;
    }

    .artist .layer {
        top: 3%;
    }
    .artist .info {
        padding: 0 4rem;
    }
    .info h2 {
        margin-bottom: .5rem;
    }
    .info p {
        line-height: 1.6rem;
    }

}

@media (max-width: 600px) {
    .artist {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 100%;
    }

    .artist .image {
        width: 270px;
    }

    .artist .layer {
        top: 3%;
    }
    .artist .info {
        padding: 0 7rem;
    }
    .info h2 {
        margin-bottom: .5rem;
        font-size: 20px;
    }
    .info p {
        font-size: 12px;
        line-height: 1.6rem;
    }
}

@media (max-width: 450px) {
    .artists {
        margin-top: -1rem;
        grid-gap: 0;
    }
    .artist {
        width: 330px;
        height: 600px;
    }

    .artist .image {
        width: 280px;
        height: 250px;
    }

    .artist .layer {
        top: 10%;
    }
    .artist .info {
        padding: 0 7rem;
    }
    .info h2 {
        margin-bottom: .5rem;
    }
    .info p {
        font-size: 14px;
        line-height: 1.6rem;
    }
}